In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import os
print(os.getcwd())
import .src.preprocessing as preprocessing

SyntaxError: invalid syntax (638848086.py, line 5)

In [ ]:
#read the csv
df = pd.read_csv('TrainingSet.csv') #comment out if on local/ change folder path to match your structure.
#df = pd.read_csv(<file location on local>)    <-use this instead of the two lines above if youre running on local instead of google colab.
print(df.shape)
df.head()

(274075, 8)

,Close Date,Close Price,Latitude,Longitude,Bedrooms,Bathrooms,Square Feet,Year Built
0,12/17/2024,4800.0,26.257621,-81.711571,4,3.0,2259,2004
1,12/17/2024,3700.0,34.041742,-84.044686,5,6.0,2951,2002
2,12/17/2024,2400.0,33.205474,-96.664503,4,2.0,1788,2000
3,12/17/2024,1770.0,27.756995,-82.648477,3,1.0,944,1955
4,12/17/2024,1995.0,32.627490,-97.328963,3,2.0,1360,2010

In [ ]:
final_df = preprocessing.preprocess_data(df)
final_df.head()

Zillow match rate: 28.2% (77364 / 274075)

,Close Date,Close Price,Latitude,Longitude,Bedrooms,Bathrooms,Square Feet,Year Built,Close Month,ZHI,DistanceToTransit
0,2024-12-17,4800.0,26.257621,-81.711571,4,3.0,2259,2004,12,201206.79852,1684.942919
1,2024-12-17,3700.0,34.041742,-84.044686,5,6.0,2951,2002,12,227984.59051,799.887679
2,2024-12-17,2400.0,33.205474,-96.664503,4,2.0,1788,2000,12,154772.81875,15612.486925
3,2024-12-17,1770.0,27.756995,-82.648477,3,1.0,944,1955,12,246634.65976,189.133627
4,2024-12-17,1995.0,32.627490,-97.328963,3,2.0,1360,2010,12,154772.81875,760.209205

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274075 entries, 0 to 274074
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Close Date         274075 non-null  datetime64[ns]
 1   Close Price        274075 non-null  float64
 2   Latitude           274075 non-null  float64
 3   Longitude          274075 non-null  float64
 4   Bedrooms           274075 non-null  int64
 5   Bathrooms          274075 non-null  float64
 6   Square Feet        274075 non-null  int64
 7   Year Built         274075 non-null  int64
 8   Close Month        274075 non-null  int32
 9   ZHI                245178 non-null  float64
 10  DistanceToTransit  274075 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(1), int64(3)
memory usage: 22.0 MB

In [ ]:
target_col = "Close Price"